{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
		<h1>Operation Completed Successfully</h1>
        <br>
		<p class="lead"></p>
		    <div class="container">
        <div class="row">
            <a class="btn btn-success" href="{{url_for('download_hmac')}}">
                <span style="font-size:200%;">Download the hmac password</span></a>
        </div>
                <br>
                <div class="row">
            <a class="btn btn-success" href="{{url_for('download_log_file')}}">
                <span style="font-size:200%;">Download the log file</span></a>
        </div>
                <br>
                <div class="row">
            <a class="btn btn-success" href="{{url_for('home_page')}}">
                <span style="font-size:200%;">Main menu</span></a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}