{% extends 'base.html' %}
    <style>
        #Progress_Status {
          width: 50%;
          background-color: #ddd;
        }
        #myprogressBar {
          width: 2%;
          height: 20px;
          background-color: #4CAF50;
        }
        </style>
{% block title %}
{% endblock %}

{% block content %}
        <body>
            <form method="POST" class="form-signin" style="color:black" enctype = "multipart/form-data">
                {{ form.hidden_tag() }}
                        <h1>
                            Signing a file
                        </h1>
                                <br>
                                {{ form.api_key.label() }}

                                {{ form.api_key(class="form-control", placeholder="Enter API key")}}

                                {{ form.key_name.label() }}

                                {{ form.key_name(class="form-control", placeholder="Enter signing key")}}

                                {{ form.signing_alg.label() }}

                                {{ form.signing_alg(class="form-control", size =1) }}

                                {{ form.signing_type.label() }}

                                {{ form.signing_type(class="form-control", size =1) }}

                                {{ form.digest.label() }}

                                {{ form.digest(class="form-control", size =1) }}

                                {{ form.signature.label() }}

                                {{ form.signature(class="form-control", size =1) }}
                                <br>
                                <input class="btn btn-lg btn-block btn-primary" type="submit">
                        </form>

        </body>
{% endblock %}